.card {
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: #f9f9f9;
    -webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.24);
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.24);
}